extends layout
block content
	ol
		for site in links
			li
				a(href="#{site.link}") #{site.title}
				label(style="color: #ff6b54") &nbsp;&nbsp; #{site.cudos}
		form(method="get")
			input(type="submit", value="back", onclick="")
			input(type="submit", value="next")