extends layout
block content
	div(style="text-align: center; border: 1px solid #ccc;")
		h1(style="width: 100%; font-size: 300%;") Create your Cudos button
		div(style="padding:5%;font-size: 24px;border: 1px solid #ccc;")
			form(method="post" action="/getcudos")
				p(style="font-size: 16px") #{error}
				br
				if button != ""
					textarea(rows="10", cols="60", style="font-size: 120%")
						div(style="border-radius: 5px;font-size: 24px; margin-bottom: 20px;")= button 
					p Copy to Clipboard using ctrl+c
				else 
					input(type="text", name="title", style="padding: 1%; font-size: 200%;" placeholder="Title" REQUIRED)
					br
					br
					input(type="text", name="category", style="padding: 1%; font-size: 200%;" placeholder="Category" REQUIRED)
					br
					br
					input(type="submit", value="Get Cudos", style="background-color: #ff6b54; outline: none; box-shadow: none; border-radius: 5px; color: #fff; padding: 1%; font-size: 150%")