extends layout
block content
	ol
		li
			a(href='#') The NSA did stuff I didn't like
		li
			a(href='#') Facebook sucks and I prefer a hipster/hacker solution
		li
			a(href='#') How bitcoins are the new stocks and how I am an expert on nothing
		li
			a(href='#') The hacker news for kittens
		li
			a(href='#') New programming language made out of kittens
		li
			a(href='#') Why so many posts about kittens
		li
			a(href='#') How cudos is turning into hacker news
		li
			a(href='#') Why I moved from cudos to snuggies.io
		li
			a(href='#') Ask cudos: Why do we breath air? Discuss
		li
			a(href='#') My website is cool, please subscribe
