doctype html

html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")

	body
		div(id="header")
			div(id="title")
				a(href="/")
					img(src="images/cudos.png" id="title")
			div(id="tabs")
				li
					a(href="/getcudos") button
				li
					a(href="/about") categories
				li
					a(href="#") sign up

	div(id="content")
		
		block content
	
	div(id="footer")
		Copyright &copy; Cudos 2014
