doctype html

html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")
		script(type="text/javascript").
			
			function tog(){
				c = $("#categories")
				c.slideToggle()
			}

	body
		div(id="header")
			div(id="title")
				a(href="/")
					img(src="../../images/cudos.png" id="title")
			div(id="tabs")
				li
					a(href="/getcudos") Get Cudos
				li
					a(onclick="tog()") Categories
		br
		div(id="categories")
			a(href="/c/news") News&nbsp;&nbsp;
			a(href="/c/tech") Tech&nbsp;&nbsp;
			a(href="/c/sports") Sports&nbsp;&nbsp;
			a(href="/c/food") Food&nbsp;&nbsp;
			a(href="/c/art") Art&nbsp;&nbsp;
			a(href="/c/hacking") Hacking&nbsp;&nbsp;
			a(href="/c/blogs") Blogs&nbsp;&nbsp;
			a(href="/c/apps") Apps&nbsp;&nbsp;
			a(href="/c/politics") Politics&nbsp;&nbsp;
			a(href="/c/videos") Videos&nbsp;&nbsp;
			a(href="/c/gaming") Gaming&nbsp;&nbsp;
			a(href="/c/movies") Movies&nbsp;&nbsp;
			a(href="/c/tv") TV&nbsp;&nbsp;
			a(href="/c/lol") lol&nbsp;&nbsp;
			a(href="/c/health") Health&nbsp;&nbsp;
			a(href="/c/fitness") Fitness&nbsp;&nbsp;
			a(href="/c/fashion") Fashion&nbsp;&nbsp;
			a(href="/c/environment") Environment&nbsp;&nbsp;
			a(href="/c/animal") Animal&nbsp;&nbsp;
			a(href="/c/design") Design&nbsp;&nbsp;
			a(href="/c/education") Education
		div(id="content")
		
			block content
		br
		div(id="footer")
			Copyright &copy; Cudos 2014
