/* 
	red - #ff6b54
	green - #6bfa37
*/

* {
	font-family: helvetica;
	font-size: 12px;
	color: #404040;
}

body {
	padding: 20px 100px;
	min-width: 800px;
}

a {
	text-decoration: none;
}

a:hover {
	color: #ff6b54;
}

input {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

ul {
	list-style: none;
}

li {
	font-size: 16px;
}

#header {
    background-color: #ffe9dd;
    border-bottom: 1px solid #ff6b54;
    padding: 5px;
	width:100%;
	float:left;
}

#logo {
	float: left;
	vertical-align: middle;
	margin-top: 16px;
	height: 90px;
	width:90px;
}

#title {
	max-width: 55%;
	vertical-align:middle;
	float:left;

}

#tabs {
	margin-top: 50px;
	float:right;
}

#tabs li {
	display: inline;
	margin: 10px;
}	

#tabs li a {
	font-size: 25px;
	color: #505050;
}

#tabs li a:hover {
	color: #ff6b54;
}
#caret {
  margin-left: 2px;
  width: 10px;
  height: 10px;
}

#content {
	width:100%;
	float:left;
	margin: 40px 0px;
	background-color: #f0f0f0;
}

#content li {
	margin: 10px;
}

#content li a {
	font-size: 16px;
}

#content li a:hover {
	color: #ff6b54;
}
/*
.link-odd {
	color: #404040;
}

.link-odd:hover {
	color: #ff6b54;
	text-decoration: underline;
}

.link-even {
	color: #404040;
}

.link-even:hover {
	color: #6bfa37;
	text-decoration: underline;
}
*/

#footer {
	width:100%;
	margin: 0px auto;
	text-align: center;
}